h1 {
	margin: 1em;
}

form {
	background-color: #F0F0F0;
	padding: 1em;
	margin: 1em;
}


/* profile info */
#profile {
	padding: 1em;
	margin: 1em;
	background-color: #EBEBEB;
}
#profile img {
	width: 200px;
	float: left;
}

#profile-info {
	margin-left: 210px;
}


/* tweets */
.single-tweet {
	background-color: #F0F0F0;
	margin: auto;
	margin-bottom: 1em;
	width: 80%;
}

.user-info img {
	float: left;
	margin: 1em;
}

.user-info p {
	float: left;
}

.tweet-content {
	clear: both;
	margin: 1em;
}

.single-tweet img {
	max-width: 300px;
	max-height: 300px;
	margin: 1em;
}

.tweet-stats {
	padding: 1em;
}