form {
	margin: 1em;
	padding:5px;
	background-color: white;
	border: 1px solid black; 
	overflow: hidden;
	
}

.tweet{
	background-color: black;
	border: 1px solid black;
	color:white;
	padding: 1em;
	margin: 1em;
	background-image: url("tweet.png");
}

.media {
    width:400px;
    height: auto;
}

button {
	float:right;
}

.search {
   width: 60%;
}
/* profile info */
#profile {
	padding: 1em;
	margin: 1em;
	background-color: #EBEBEB;
}
#profile img {
	width: 200px;
	float: left;
}

#profile-info {
	margin-left: 210px;
}


/* tweets */
.single-tweet {
	background-color: #F0F0F0;
	margin: auto;
	margin-bottom: 1em;
	width: 80%;
}

.user-info img {
	float: left;
	margin: 1em;
}

.user-info p {
	float: left;
}

.tweet-content {
	clear: both;
	margin: 1em;
}

.single-tweet img {
	max-width: 300px;
	max-height: 300px;
	margin: 1em;
}

.tweet-stats {
	padding: 1em;
}